
@{
    ViewBag.Title = "Register";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registration</title>

    <link rel="shortcut icon" type="image/x-icon" href="~/Content/assets/images/Favicons/D-Fav.jpg">


    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/colors.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script type="text/javascript" src="~/Content/assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/loaders/blockui.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/ui/nicescroll.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/ui/drilldown.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/plugins/ui/fab.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script type="text/javascript" src="~/Content/assets/js/plugins/forms/styling/uniform.min.js"></script>

    <script type="text/javascript" src="~/Content/assets/js/core/app.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/pages/login.js"></script>

    <script type="text/javascript" src="~/Content/assets/js/plugins/ui/ripple.min.js"></script>
    <!-- /theme JS files -->

</head>

<body class="login-container  bg-slate-800  pace-done" style="overflow-x:hidden;">

    <div class="navbar navbar-inverse">
        <div class="navbar-header">
            @*<a class="navbar-brand" href="@Url.Action("Index", "Home")"><img src="~/Content/shop/img/logo.jpg" alt=""></a>*@
            <ul class="nav navbar-nav pull-right visible-xs-block">
                <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-grid3"></i></a></li>
            </ul>
        </div>
        <div class="navbar-collapse collapse" id="navbar-mobile">
            <div class="navbar-right">
                @*<ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="@Url.Action("Index", "Home")">
                                Back to Home
                            </a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-cog3"></i>
                                <span class="visible-xs-inline-block position-right"> Options</span>
                            </a>
                        </li>
                    </ul>*@
            </div>
        </div>
    </div>

    <!-- Page container -->
    <div class="page-container">
        <!-- Page content -->
        <div class="page-content">
            <!-- Main content -->
            <div class="content-wrapper">
                <!-- Advanced login -->
                <form action="@Url.Action("PostRegister","Auth")" method="post" class="login-form">
                    <div class="panel panel-body">
                        <div style="color:@ViewBag.Color">
                            @ViewBag.Message
                        </div>
                        <div class="text-center">
                            <h5 class="content-group-lg">Create new account</h5>
                        </div>

                        <div class="form-group">
                            <label>First Name<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" placeholder="Enter Your First Name" required name="FirstName">
                        </div>
                        <div class="form-group">
                            <label>Last Name<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" placeholder="Enter Your Last Name" required name="LastName">
                        </div>

                        <div class="form-group">
                            <label>Email<span class="text-danger">*</span></label>
                            <input type="email" class="form-control" placeholder="Enter Your Valid Email Here" required name="Email">
                        </div>

                        <div class="form-group">
                            <label>Password<span class="text-danger">*</span></label>
                            <input type="password" class="form-control" placeholder="Password" required name="Password">
                        </div>

                        <div class="form-group">
                            <label>Confirm Password<span class="text-danger">*</span></label>
                            <input type="password" class="form-control" placeholder="Confirm Password" required name="ConfirmPassword">
                        </div>

                        <div style="text-align: center;" class="form-group">
                            <button type="submit" class="btn bg-pink-400 btn-block">Register</button>
                        </div>

                        <a href="@Url.Action("Login","Auth")" class="pull-right content-group text-bold">Back To Sign In</a>
                    </div>
                </form>
                <!-- /advanced login -->
            </div>
            <!-- /main content -->
        </div>
        <!-- /page content -->
    </div>
    <!-- /page container -->
    <br />
    <br />
    <br />
    <br />
    @*footer*@
    <div class="navbar navbar-default navbar-fixed-bottom footer">
        <ul class="nav navbar-nav visible-xs-block">
            <li><a class="text-center collapsed" data-toggle="collapse" data-target="#footer"><i class="icon-circle-up2"></i></a></li>
        </ul>

        <div class="navbar-collapse collapse" id="footer">
            <div class="navbar-text">
                @DateTime.Now.ToString("Y"). <a href="#" class="navbar-link">Survey System</a> by <a href="#" class="navbar-link" @*target="_blank"*@>Nodlays</a>
            </div>

            <div class="navbar-right">
                @*<ul class="nav navbar-nav">
                        <li><a href="@Url.Action("About","Home")">About</a></li>
                        <li><a href="@Url.Action("RDC","Home")">RELOADING DATA CENTER</a></li>
                        <li><a href="@Url.Action("Contact","Home")">Contact Us</a></li>
                    </ul>*@
            </div>
        </div>
    </div>

</body>
</html>